<div class="p-4 sm:ml-64 ">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-3 gap-4 mb-4">
      <!-- Show employee list -->
      <div class="mt-8">
        <h2 class="text-xl font-bold mb-4">Lista de Empleados</h2>
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b">ID</th>
              <th class="py-2 px-4 border-b">Nombre</th>
              <th class="py-2 px-4 border-b">Apellido</th>
              <th class="py-2 px-4 border-b">Dirección</th>
              <th class="py-2 px-4 border-b">Correo</th>
              <!-- Add more columns as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados">
              <td class="py-2 px-4 border-b">{{ empleado.id }}</td>
              <td class="py-2 px-4 border-b">{{ empleado.nombre }}</td>
              <td class="py-2 px-4 border-b">{{ empleado.correo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
