<div id="cambio-password-body">
    <h1 class="text-center font-bold text-4xl">Cambiar la contraseña en Ferremas</h1>
    <br>
    <p class="text-center">
        Por temas de seguridad, se requiere cambiar la contraseña por primera vez antes de poder acceder a las
        funcionalidades especiales
    </p>
    <br>
    <div class="container ml-auto mr-auto flex items-center justify-center">
        <form class="w-full max-w-sm" [formGroup]="passwordForm" (ngSubmit)="cambiarPassword()">
            <!-- Contraseña -->
            <div class="mb-5">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nueva Contraseña *</label>
                <div class="relative">
                    <div class="absolute start-2 top-1/2 -translate-y-1/2 flex items-center pointer-events-none">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input type="password" id="Password" formControlName="password"
                        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" />
                </div>
            </div>
            <!-- Repetir Contraseña -->
            <div class="mb-5">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Repetir Contraseña *</label>
                <div class="relative">
                    <div class="absolute start-2 top-1/2 -translate-y-1/2 flex items-center pointer-events-none">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input type="password" id="RepPassword" formControlName="confirmPassword"
                        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" />
                </div>
                @if (passwordForm.errors?.['noCoincide']) {
                <small class="text-red-500 text-sm mt-1 italic">Las contraseñas no coinciden</small>
                }
            </div>
            <br>
            <!-- Botón de enviar a cambiar la contraseña -->
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Cambiar la contraseña
            </button>
        </form>
    </div>
</div>

<p>password-admin works!</p>