<!--Contacto-->
<div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8 container mx-auto bg-white shadow-lg rounded-md">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
      <div class=""></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Contáctanos</h2>
      <p class="mt-2 text-lg/8 text-gray-600">Atención al cliente</p>
      <p class="mt-2 text-sm/6 text-gray-600 text-balance">Te responderemos en cuanto nos llegue tu mensaje,
         es importante que lo escribas correctamente, la información solicitada se enviará via correo.</p>
    </div>
      
    <form (ngSubmit)="enviarMensaje()" #contactoForm="ngForm" class="mx-auto mt-16 max-w-xl sm:mt-20">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="first-name" class="block text-sm/6 font-semibold text-gray-900">Nombre</label>
          <div class="rounded-md border border-gray-300 bg-white text-gray-900 mt-2.5">
            <input type="text" name="nombre" id="first-name" [(ngModel)]="mensaje.nombre" required class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 ...">
          </div>
        </div>
        <div>
          <label for="last-name" class="block text-sm/6 font-semibold text-gray-900">Apellido</label>
          <div class="rounded-md border border-gray-300 bg-white text-gray-900 mt-2.5">
            <input type="text" name="apellido" id="last-name" [(ngModel)]="mensaje.apellido" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 ...">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm/6 font-semibold text-gray-900">Correo</label>
          <div class="rounded-md border border-gray-300 bg-white text-gray-900 mt-2.5">
            <input type="email" name="email" id="email" [(ngModel)]="mensaje.email" required class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 ...">
          </div>
        </div>
        
        <div class="sm:col-span-2">
          <label for="message" class="block text-sm/6 font-semibold text-gray-900">Mensaje</label>
          <div class="rounded-md border border-gray-300 bg-white text-gray-900 mt-2.5">
            <textarea name="contenido" id="message" rows="4" [(ngModel)]="mensaje.contenido" required class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 ..."></textarea>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white ...">Enviar</button>
      </div>
    </form>
  </div>
  