
<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)] stroke-gray-200" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
       
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            
            <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Acerca de nosotros</h1>
          </div>
        </div>
      </div>
      
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-xl text-base/7 text-gray-700 lg:max-w-lg">
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Nuestra Historia y Expansión</h2>
            <p class="text-justify">Con más de cuatro décadas de experiencia, iniciamos operaciones con un compromiso claro: 
                ofrecer herramientas y materiales de construcción accesibles sin depender de importaciones. 
                Hoy, contamos con 4 sucursales en la Región Metropolitana y 3 en regiones, 
                respaldadas por un sólido plan de expansión para llegar a todo el territorio nacional.</p>
          
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Productos y Marcas</h2>
            <p class="mt-6 text-justify">Trabajamos con las marcas líderes del sector, como Bosch, Makita, Stanley y Sika, garantizando diversidad y excelencia en nuestro catálogo. 
                Desde herramientas manuales y eléctricas hasta materiales de seguridad, pinturas y accesorios, 
                en FERREMAS encuentras todo para proyectos de construcción, renovación y mantenimiento.</p>

                <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Compromiso con la Innovación</h2>
            <p class="mt-6 text-justify">Ante los desafíos globales, como la pandemia de COVID-19, reforzamos nuestro modelo híbrido, 
                combinando la atención presencial con una plataforma de comercio electrónico moderna. 
                Esto nos permite ofrecer mayor comodidad a nuestros clientes, con opciones de compra en línea, retiro en tienda, despacho a domicilio y múltiples métodos de pago.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
